{% set colours = app.session.get('colours') %}

{# default = blue #}
{% if colours is null %}
    {% set colours = {
    'foreground': 'blue',
    'background': 'pink'
    }
    %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            @import '/css/flash.css';
            @import '/css/table.css';
            @import '/css/header.css';
            {% block stylesheets %}
            {% endblock %}

            body {
                color: {{ colours['foreground'] }};
                background-color: {{ colours['background'] }};
            }

        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    {% set user = app.session.get('user') %}

    {% if user is null %}
        <p>
            you are not logged in: <a href="{{ path('login') }}">login</a>
        </p>
    {% else %}
        <header>
            You are logged in as: <strong>{{ user.username }}</strong>
            <br>
            <a href="{{ path('logout') }}">logout</a>
        </header>
    {% endif %}


    <ul>
        <li>
            <a href="{{ path('bibs_list') }}">list of references</a>
        </li>
        <li>
            <a href="{{ path('reference_basket_index') }}">list of elective modules</a>
        </li>
    </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
