{% extends '_base.html.twig' %}

{% block pageTitle %}list of bibs{% endblock %}

{% block body %}

    {{ dump() }}

    <ul>
        {% for bib in bibs %}
            <li>
                id = {{ bib.id }}
                <br>
                name =
                <a href="{{ path('bibs_show', {id:student.id}) }}">
                {{ bib.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{{ path('students_new_form')}}">
        create NEW student
    </a>

{% endblock %}